.wp-block-npe-profile {
	--npe-profile-contrast-color: var(--npe-profile-default-color);
	--npe-profile-background-color: var(--npe-profile-default-color-tint);
	--npe-profile-border-color: var(--npe-profile-default-border-color);

	background-color: var(--npe-profile-background-color);
	border-radius: var(--npe-profile-default-border-radius);
	max-width: 100%;
	overflow: hidden;
	min-height: 0;
	font-family: var(--npe-profile-default-font-family);

	&.is-layout-flex {
		gap: 0;
	}

	&.is-vertically-aligned-stretch,
	&.is-vertically-aligned-stretch .profile-inner,
	&.is-vertically-aligned-stretch .profile-inner.is-vertically-aligned-stretch {
		align-self: stretch;
		flex-grow: 1;
		min-height: 100%;
	}

	.profile-inner {
		width: 100%;

		&:not(.has-border-color) {
			border: 1px solid var(--npe-profile-border-color);
		}
	}

	.wp-block-post-featured-image {
		overflow: hidden;
		margin-bottom: 0;

		img {
			border-radius: revert;
		}
	}

	.wp-block-npe-profile-row-group {
		padding: var(--npe-profile-default-padding);
		gap: 0.2rem;
	}

	.wp-block-npe-profile-name {
		line-height: 1.1;
	}

	.wp-block-npe-profile-separator {
		margin-block-start: 1rem;
		margin-block-end: 1rem;
	}

	&.is-style-red,
	&.is-style-blue,
	&.is-style-yellow {
		color: var(--npe-profile-contrast-color);

		.wp-block-npe-profile-name {
			color: var(--npe-profile-contrast-color);
		}

		.profile-inner {
			border: none;
		}

		.wp-block-social-link.wp-social-link,
		.is-format-icon a svg {
			color: var(--npe-profile-contrast-color);
			fill: var(--npe-profile-contrast-color);
		}
	}

	&.is-style-red-tint,
	&.is-style-blue-tint,
	&.is-style-yellow-tint {

		.wp-block-npe-profile-name,
		.wp-block-npe-profile-name:not(.has-link-color) a,
		.wp-block-npe-profile-field-link:not(.has-link-color) a,
		.npe-term--govpack_party {
			color: var(--npe-profile-contrast-color);
		}

		.wp-block-social-link.wp-social-link .wp-block-social-link-anchor svg,
		svg:not(.has-icon-color svg),
		.is-format-icon a svg {
			color: var(--npe-profile-contrast-color);
			fill: var(--npe-profile-contrast-color);
		}
	}
}
