
.wp-block-npe-profile{

	//width:100%;

	.profile-inner {
		//overflow:hidden;
	}

	.wp-block-post-featured-image {
		overflow: hidden;
	}

	&.is-style-red{
		--npe-profile-color:rgba(201, 49, 53);
		--npe-profile-color-tint:rgba(201, 49, 53, 0.05);
	}
	&.is-style-blue{
		--npe-profile-color:rgba(19, 117, 183, 1);
		--npe-profile-color-tint:rgba(19, 117, 183, 0.05);
	}
	&.is-style-yellow{
		--npe-profile-color:rgba(223, 168, 0, 1);
		--npe-profile-color-tint:rgba(223, 168, 0, 0.05);
	}

	&.is-style-red,
	&.is-style-blue,
	&.is-style-yellow {
		border: 1px solid #cccccc;
		border-radius:4px;
		background-color: var(--npe-profile-color-tint);

		.npe-term--govpack_party,
		//a:not(h2 > a) {
		.wp-block-npe-profile-field-link:not(.has-link-color) a {
			color: var(--npe-profile-color);
		}

		//	font-weight: bold;
		//	color: var(--npe-profile-color);

		//	svg, path {
		//		fill: var(--npe-profile-color);
		//	}
		//}

		.wp-block-npe-profile-separator{
			margin-block-start: 1rem;
			margin-block-end: 1rem;
		}
	}
}

.gp-dim-field{
	
	background-color: rgba(111,111,111,0.2);
	outline: 1px dashed #000000;
	> * {
		opacity : 0.5;
	}

	&::before{
		content : "Hidden Field";
		position: absolute;
		background-color :#000;
		color: #fff;
		font-size: 0.5rem;
		padding: 0.1rem 0.2rem;
		bottom:100%;
		left: -1px;
		opacity:1;
	}
}