


.wp-block-govpack-profile{

    $block : &;

	// force a gap between the block and content
    margin-bottom:1rem;

	// good baseline font size
	font-size: 1rem;

	// give us a nice border radius that clips images etc
	&__container{
		border-radius: 8px;
		overflow: hidden;
	}

	// the photo has to be 100% wide by default
	&__avatar {
        width:100%;
		aspect-ratio: 1/1;
		overflow: hidden;
    }

	&__name{
		margin:0;
	}

	// the info box needs some spacing between it and the border
	&__info{
		padding: 1rem 2rem;
		margin: 0;
	}

	&__heading {
		margin:0 0 .3rem 0;
		padding:0;
		font-size:1rem;
	}

	.npe-profile-sub-heading,	
	&__sub-heading {
		margin:0;
		padding:0;
		font-size:0.9rem;
	}

	&__group {
		&, &-items{
			margin:0;
			padding:0;

			display:flex;
			flex-direction: column;
		}

		&-items{
			gap: 0.5rem;
		}
	}

	&__label{
		white-space: nowrap;
	}

	.npe-profile-heading,
	&__heading,
	.npe-profile-sub-heading,
	.npe-profile-row__content--party{
		font-weight: 700;
	}


	

	&__comms-other{
		width: 100%;
		margin-top:0;
		overflow: auto;

        .aligncenter & {
            text-align: center;

            dt,dd {
                float: none;
                padding: 0;
            }
        }

		dt,dd{
			font-size: 0.8rem;
			float:left;
			margin: 0;   
		}

		dt{
			clear:left;

			&:after{
				display:inline-block;
				content: ": ";
				margin-right:.5em;
			}
		}

        dd{
            .alignright & {
                float: right;
            }
        }

	}

	

    &__container {

        $element : &;

		flex-direction: column;

		#{$block}__avatar{
			margin-right:0;
			margin-left:0;
		}


        &--right {
            flex-direction: row-reverse;

            #{$block}__avatar{
                margin-right:0;
                margin-left:1rem;
            }
        }

		&--left {
            flex-direction: row;

            #{$block}__avatar{
                margin-right:1rem;
                margin-left:0;
            }
        }
		

        &--align-center{
            margin-left: auto;
            margin-right: auto;

            #{$block}__social_group, #{$block}__comms{
                justify-content: center;                
            }

            #{$block}__comms-icons{
                flex-grow: 0;
            }

            #{$block}__comms-other {
                text-align: center;

                dt,dd {
                    float: none;
                    padding: 0;
                }
            }
        }

        &--align-right{
            #{$block}__comms-other {                

                dd {
                    float: right;                    
                }
            }
        }

    }

	&__icon-set{
		list-style: none;
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		align-items: center;
		padding-left:0;
		margin:0;
	}

	&__icon{
		display: flex;
		width: 1rem;
		height: auto;
		max-height: 1rem;

		svg, path {
			fill : currentColor;
		}

		&--x {
			max-width:18px;
			max-height:18px;
		}
	}
	
	&__social_group{
		display: flex;
		align-items: center;

        .aligncenter & {
            justify-content: center;
            align-items: center;
        }

        .alignright & {
            justify-content: flex-end;
        }
	}




   


    &__contact {

        $elm : &;

        &__link,
        a{
            display:block;
            text-decoration: none;
        }

        &__icon{
            display:inline-block;
            max-width:20px;
            max-height:20px;
            width:100%;
            height:auto;
			
			
            svg{
                max-width:20px;
                max-height:20px;
                display:block;
				width:100%;
            }

			svg, path {
				fill : currentColor;
			}

			
        }

        &__label{
            display:inline-block;
        }

        &--hide-label{
            #{$elm}__label{
                display:none;
            }
        }
    }




    &.is-style-boxed_centered,
    &.is-style-center{

        #{$block}__avatar {
            margin-left:0;
            margin-right:0;
            margin-bottom:1rem;
        }
        #{$block}__info,
        #{$block}__container {
            flex-direction: column;
            width:100%;
            align-items: center;
            align-content: center;
        }

        #{$block}__line{
            width:100%;
            text-align:center;
        }

        #{$block}__contacts ul{
            justify-content: center;
        }
    }

    &.is-style-boxed_centered,
    &.is-style-boxed{
        padding:1.5rem;
        border:1px solid rgba(0,0,0,0.04);
        background-color:rgba(0,0,0,0.02);
        margin-top: 0 !important;
		word-break: normal;
    }

	&__name:has(+ &__status-tag ) {
		display: inline-block;
		margin: 0;
	}
	
	&--flex-left{
		display: flex;
		flex-direction:row;
		flex-wrap: wrap;
		align-items: center;
		gap: .33rem;
	}

	&__line-label{
		margin:0;
		padding:0;
	}
}

.gp-profile-contact {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right:0;
	column-gap:.5rem;
	row-gap: .25rem;

	&__icons{
		flex-grow: 1;
	}

	address {
		width: 100%;
		flex-grow: 1;
		margin-bottom: 0rem;
		font-style: normal;
		font-size:0.9em;
	}
}

.wp-block-column .wp-block-govpack-profile{
	margin-right:0;
}

.govpack-tag {
	display: block;
	padding: 0.2rem 0.4rem;
	background-color: #eee;
	display: inline-block;
	font-size:0.8rem;
	border-radius: 3px;
}








.npe-profile-row {	
	$block : &;

	padding-top:.5rem;
    padding-bottom:.5rem;
    border-bottom: 1px solid;
	border-color: #ccc;

	
	&:first-of-type{
		padding-top:0rem;
	}

	&:last-child{
		padding-bottom:0rem;
		border-bottom: 0px;
	}

	.alignright & {
		text-align: right;
	}

	p {
		margin: 0;
	}

	&--labels-above, &{
		#{$block}__label,
		#{$block}__content{
			display:block;
		}
	}

	&--labels-beside{
		#{$block}__label,
		#{$block}__content{
			display:inline;
		}

		#{$block}__label::after{
			content:":\00a0";
		}
	}
	
	&__label {
		font-size: .9rem;
		font-weight: bold;

		#{$block} &--hide{
			display: none;
		}
		#{$block} &--show{
			display: initial;
		}
	}

	&__content {
		line-height:1.2;
		margin: 0;
		padding-left: 0;
	}

	
}



.govpack-photo {
	margin: 0 auto;
	overflow:hidden;

	.govpack-photo-image,
	img {
		display:block;
		width:100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}



/*
.govpack-inline-list {
	margin: 0;
	padding: 0;
	list-style: none;

	> li {
		float: left;
	}
}

.govpack-vertical-list {
	&,
	.editor-styles-wrapper &{
		margin: 0;
		padding: 0;
		list-style: none;
	}
}


.wp-block-govpack-profile{
	.editor-styles-wrapper &__contacts,
	.editor-styles-wrapper &__contact,
	.editor-styles-wrapper &__comms,
	.editor-styles-wrapper &__social,

	&__social,
	&__comms,
    &__contact,
	&__contacts
	{

		ul{
            margin:0;
            padding:0;
            list-style: none;
        }

        ul li{
            margin-right:.5rem;

            &:last-of-type{
                margin-right:0;
            }
        }
    }
}
	*/