.wp-block-npe-profile-field-link{
	
	&.is-format-icon{
		
		&.has-small-icon-size {
			font-size: 16px; // 16 makes for a quarter-padding that keeps the icon centered.
		}

		// Normal/default.
		&,
		&.has-normal-icon-size {
			font-size: 24px;
		}

		// Large.
		&.has-large-icon-size {
			font-size: 36px;
		}

		// Huge.
		&.has-huge-icon-size {
			font-size: 48px;
		}
	}

	svg {
		display: block;
		width: 1em;
		height: 1em;
	}

	a {
		text-decoration: inherit;
	} 

}