.wp-block-govpack-profile-bio{

	&__excerpt{

		margin-bottom: 0;
		margin-top: 0;

		&.is-inline {
			display:inline;
		}
	}

	&__more-text{
		margin-bottom: 0;
		margin-top: var(--wp--style--block-gap);
	}
}